.container {
background-color: var(--zinc-950);
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3rem 2rem;
  border-bottom: 1px solid var(--zinc-900);
}

.headerContent {
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
}

.naming {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  text-decoration: none;

  img {
    width: 3rem;
    height: auto;
  }

  h1 {
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
  }
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;

  li {
    list-style: none;
  }

  a {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: white;
  }

  .active {
    color: var(--orange-400);
    text-decoration: underline;
  }
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
}
